<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Booking will appear hear</h1>
  </header>
  <main>
    <a href="/">Go back</a>
  </main>
</body>
</html>