<%-include('partials/header')%>
</head>
<body>
<header class="h-screen flex justify-center items-center flex-col">
  <h1 class="text-5xl font-bold text-red-600">404</h1>
  <h1 class="text-xl">This page is not found</h1>
</header>
</body>
</html>