<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Welcome to this site</h1>
  </header>
  <main>
    <a href="/add-home">Add home</a>
  </main>
  <div>
    <h1>
      Registerd houses : 
    </h1>
    <ul>
      <% registeredhouse.forEach(home=>{ %>
        <li type="none">
          <br>
          <%= home.houseName %>

        </li>
      <% }) %>
    </ul>
  </div>
</body>
</html>