<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Register your home here
    </h1>
  </header>
  <main>
    <form action="/add-home" method="post">
    <input type="text" placeholder="Enter house name" name="houseName">
    <input type="text" placeholder="price" name="price">
    <input type="text" placeholder="location" name="location">
    <input type="text" placeholder="rating" name="rating">
    <input type="text" placeholder="url" name="url">
    <input type="submit">
    </form>
  </main>
</body>
</html>