<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="bg-red-300 text-4xl text-white flex justify-center items-center pt-4 pb-4">
    <h1>
      your page is register sucessfully
    </h1>
  </header>
  <main class="bg-slate-200 text-white text-3xl pt-4 pb-4 flex items-center justify-center"> 
    <a href="/">Go to home</a>
  </main>
</body>
</html>