<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/input.css">
</head>
<body class="bg-red-300">
  <header>
    <h1 class="bg-red-500 text-4xl text-white flex items-center justify-center font-bold mt-3 pt-3 pb-3">This is the Fantastic page</h1>
  </header>
  <main>
    <a class="bg-slate-500 text-white text-2xl flex justify-center items-center pb-2 pt-2" href="/">GO TO HOME</a>
  </main>
</body>
</html>
