<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>
      Enter your detail hear
    </h1>
    <main>
      <form action="/add-home" method="post">
        <input type="text" placeholder="House Name" name="houseName">
        <input type="text" placeholder="price" name="price">
        <input type="text" placeholder="location" name="location">
        <input type="text" placeholder="rating" name="rating">
        <input type="url" placeholder="url" name="url">
        <input type="submit">
      </form>
    </main>
  </header>
</body>
</html>