<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-xl rounded-2xl p-8 text-center">
    <header>
      <h1 class="text-3xl font-bold text-blue-600 mb-6">This is the Home Page</h1>
    </header>
    <main>
      <a href="/add-home" class="px-6 py-2 bg-green-500 text-white font-medium rounded-lg shadow hover:bg-green-600 transition">Go to ADD Home</a>
    </main>
    <div>
      <h1>Here is Multiple homes</h1>
      <ul>
        <%registeredHouse.forEach(home=>{%>
          <li>
            <%= home.houseName%>
          </li>
        <%})%>
      </ul>
    </div>
  </div>
</body>
</html>
