<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1>Enter your details hear</h1>
  </header>
  <main>
    <form action="/add-home" method="post">
      <input type="text" placeholder="houseName" name="houseName">
      <input type="text" placeholder="price" name="price">
      <input type="text" placeholder="location" name="location">
      <input type="text" placeholder="rating" naem="rating">
      <input type="url" placeholder="url" name="url">
      <input type="submit">
    </form>
  </main>
</body>
</html>