<%-include('partials/head')%>
<link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="bg-red-300 text-3xl text-white flex justify-center items-center pb-3 pt-3">
    <h1>This page is not found</h1>
  </header>

  <%- include('partials/lol')%>

</body>
</html>