<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>
    Enter your details hear
  </h1>
  <main>
    <form action="/add-home" method="post">
      <input type="text" placeholder="Enter house Name" name="houseName">
      <input type="submit">
    </form>
  </main>
</body>
</html>