<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pagetitle %></title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header class="bg-blue-300 pb-5 pt-5 flex items-center justify-center text-3xl text-black">
    <h1>Our form is submit sucessfull</h1>
  </header>
  <main class="m-12">
    <a class="bg-yellow-200 pt-3 pb-3 pr-5 pl-5 rounded-xl flex items-center justify-center"  href="/">Go To Home</a>
  </main>
</body>
</html>