<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1 class="bg-blue-300 pt-5 pb-5 flex justify-center items-center text-black text-4xl">Fill this form </h1>
  </header>
  <main class="m-12">
    <form class="m-10 flex justify-center items-center bg-amber-200 pt-3 pb-3" action="/add-home" method="post">
      <input class="border-1 border-red-400 rounded-s p-3 m-3 hover:border-blue-300" type="text" placeholder="Enter your home hear" name="houseName">
      <input class="m-6 bg-red-400 pt-3 pb-3 pr-3 pl-3 rounded-xl hover:bg-blue-200" type="submit" label="submit">
    </form>
  </main>
</body>
</html>